@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.05em;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
button {
  border: 0;
  background-color: rgb(0, 0, 0, 0);
}

.wrap {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 15px 15px 150px 15px; /* 하단 footer height 맞춰서 세팅 */
  background-color: rgba(1, 133, 208, 0.3);
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.footer {
  display: block;
  width: 100vw;
  height: 150px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.main {
  text-align: center;
}
.imgButton {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.imgButton:hover {
  opacity: 0.8;
}
.expBox {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}
.questionBox {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}
.ynBox {
  display: flex;
  justify-content: space-between;
}
.ynButton {
  border-radius: 10px;
  background-color: white;
  width: 48%;
  cursor: pointer;
}
.ynButton:hover {
  opacity: 0.8;
}
.ynText {
  margin-top: 10px;
  margin-bottom: 10px;
}
